/*
allgemeine CSS Settings
*/
body {
	background-color: #abc7cc;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: small-caps;
}

a:link {
	font-weight: bold;
	color: white;
	text-decoration: none;
}

a:visited {
	font-weight: bold;
	color: #CCCCCC;
	text-decoration: none;
}

a:hover {
	font-weight: bold;
	color: #AAAAAA;
	text-decoration: none;
}

a:active {
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}

/*
Applikationsspezifische Settings
*/
.menu {
	float: left;
	margin-right: 0px;
	padding: 5px;
	width: 100px;
	background-color: #EEEEEE;
	background-image: url("images/musternavi.png");
}

.content {
	position: relative;
	left: 50px;
	top: 100px;
	width: 900px;
}

#title {
	position: absolute;
	top: 15px;
	right: 15px;
}

ul.menulist {
	position: absolute;
	left: 50px;
	top: 15px;
	list-style-type: none;
}

.project {
	border: 1px solid gray;
	spacing: 15px;
	margin-bottom: 10px;
	width: 550px;
	background-color: #EEEEEE;
	position: relative;
	top: 100px;
}

.projectDesc {
	border: 1px solid gray;
	padding: 10px;
	width: 350px;
	height: 100%;
	float: left;
}

.technologyList {
	margin-right: 15px;
	margin-top: 0px;
	list-style-type: none;
	position: relative;
	display: inline;
}

.contactsForm {
	border: 1px solid gray;
	padding: 10px;
	width: 250px;
	margin-left: 25px;
	background-color: #EEEEEE;
	float: left;
}

.feedbackPanel{
	font-color: #ff0000;
	font-family:arial;
	list-style-type:none;
	margin-left:none;
	width: 180px;
}

.contactsForm>input,select,textarea {
	margin-bottom: 10px;
	display: block;
}
.contactInfo{
	margin-bottom: 15px;
	width: 180px;
	border: 1px solid gray;
	padding: 10px;
}

.contactDisplay{
	float: right;
	
}